<h1 class="title is-1">登陆</h1>
<h2 class="subtitle">与大家一起玩番茄大爆炸吧!</h2>

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-login"></i></span>
        <span><a routerLink="login" class="list-group-item">登陆</a></span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-register"></i></span>
        <span><a routerLink="register" class="list-group-item">注册</a></span>
      </a>
    </li>
  </ul>
</div>
<!-- (activate)='onActivate($event)' (deactivate)='onDeactivate($event)' -->
<router-outlet ></router-outlet>