<div class="user-module-title">
  <h1 class="title is-1">登陆</h1>
  <h2 class="subtitle">与大家一起玩番茄大爆炸吧!</h2>
</div>


<div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active" [ngClass]="{'is-active':selectIndex == 1}" >
      <a routerLink="login"  (click)="onSelectIndex(1)">
        <span class="icon is-small"><i class="fa fa-user"></i></span>
        <span>登陆</span>
      </a>
    </li>
    <li [ngClass]="{'is-active':selectIndex ==2}">
      <a routerLink="register"  (click)="onSelectIndex(2)">
        <span class="icon is-small"><i class="fa fa-users"></i></span>
        <span>注册</span>
      </a>
    </li>
  </ul>
</div>
<!-- (activate)='onActivate($event)' (deactivate)='onDeactivate($event)' -->
<router-outlet></router-outlet>