<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item">
        <img src="https://avatars0.githubusercontent.com/u/26266894?v=3&s=200" alt="TomatoBang V1.0">
      </a>
    <a class="nav-item is-tab is-hidden-mobile tomato-nav-item" [ngClass]="{'is-active':selectIndex == 1}" [routerLink]=" ['./dash']" (click)="onSelectIndex(1)">首页</a>
    <a class="nav-item is-tab is-hidden-mobile tomato-nav-item" [ngClass]="{'is-active':selectIndex == 2}" [routerLink]=" ['./history']" (click)="onSelectIndex(2)">历史</a>
    <a class="nav-item is-tab is-hidden-mobile tomato-nav-item" [ngClass]="{'is-active':selectIndex == 3}" [routerLink]=" ['./setting']" (click)="onSelectIndex(3)">设置</a>
    <a class="nav-item is-tab is-hidden-mobile tomato-nav-item" [ngClass]="{'is-active':selectIndex == 4}" [routerLink]=" ['./about']" (click)="onSelectIndex(4)">关于</a>
   
  </div>
  <span class="nav-toggle">
      <span></span>
  <span></span>
  <span></span>
  </span>
  <div class="nav-right nav-menu">
    <a class="nav-item is-tab is-hidden-tablet is-active tomato-nav-item" [routerLink]=" ['./dash']" (click)="onSelectIndex(1)">首页</a>
    <a class="nav-item is-tab is-hidden-tablet tomato-nav-item" [routerLink]=" ['./history']" (click)="onSelectIndex(2)">历史</a>
    <a class="nav-item is-tab is-hidden-tablet tomato-nav-item" [routerLink]=" ['./setting']" (click)="onSelectIndex(3)">设置</a>
    <a class="nav-item is-tab is-hidden-tablet tomato-nav-item" [routerLink]=" ['./about']" (click)="onSelectIndex(4)">关于</a>

    <a *ngIf="!login" class="nav-item is-tab is-hidden-mobile tomato-nav-item" [ngClass]="{'is-active':selectIndex == 4}" [routerLink]=" ['./user']" (click)="onSelectIndex(4)">登录</a>
    <a *ngIf="login" class="nav-item is-tab  tomato-nav-item">　{{userinfo.username}}　</a>
    <a class="nav-item is-tab tomato-nav-item" (click)="logout()" *ngIf="login">
      <span class="icon">
        <i class="fa fa-sign-out"></i>
      </span>
      退出
    </a>
      <a class="nav-item tomato-nav-item">
        <form class="navbar-form navbar-right">
          <span>桌面提醒</span>
          <div class="form-group">
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (click)="requestNotificationPermission()">
              <label class="onoffswitch-label" for="myonoffswitch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
              </label>
            </div>
          </div>
        </form>
      </a>
  </div>

</nav>