<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TomatoBang V1.0</a>
    </div>
    <form class="navbar-form navbar-right">
      <span>桌面提醒</span>
      <div class="form-group">
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" 
          class="onoffswitch-checkbox" id="myonoffswitch" (click)="requestNotificationPermission()">
          <label class="onoffswitch-label" for="myonoffswitch">
                <div class="onoffswitch-inner"></div>
                <div class="onoffswitch-switch"></div>
              </label>
        </div>
      </div>
    </form>
  </div>
</nav>
