.register-container {
    width: 400px;
    margin: auto;
}
.register-label{
    text-align: right;
}
.register-submit-block{
    margin-top:25px;
    margin-bottom: 40px;
}
.formerror{
    color: red;
}