<div class="login-container">
    <form #form="ngForm" (ngSubmit)="form.form.valid && doLogin()" novalidate class="form-horizontal" role="form">
        <div class="field">
            <label class="label">用户名</label>
            <input required class="input" [ngClass]="{'is-success': form.submitted && !userName.valid }" name="userName" [(ngModel)]="user.username"
                #userName="ngModel" type="text" placeholder="请输入用户名...">
            <div *ngIf="form.submitted && !userName.valid" class="text-danger">
                用户名必须输入！
            </div>
        </div>

        <div class="field">
            <label class="label">密码</label>
            <input class="input" [ngClass]="{ 'is-success': form.submitted && !userName.valid }" required minlength="6" [(ngModel)]="user.password"
                name="password" #password="ngModel" type="password" placeholder="请输入密码...">
            <div *ngIf="form.submitted && !password.valid" class="text-danger">
                密码必须输入,至少要8位！
            </div>
        </div>

        <div class="field">
            <p class="control">
                <label class="checkbox">
                    <input name="remeberMe" type="checkbox" [(ngModel)]="remeberMe.selected" #remeberMe="ngModel">记住我
                </label>
            </p>
        </div>

        <!-- 这里用来做服务端验证 -->
        <div *ngIf="error">{{error}}</div>

        <div class="field is-grouped">
            <button type="submit" class="button is-primary">登陆</button>
            <button type="button" class="button is-link" (click)="navToRegister()">注册</button>
        </div>

    </form>
</div>