<div class="login-container">

    <div class="field">
        <label class="label">用户名</label>
        <p class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" placeholder="用户名" value="tomatobang">
            <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
            <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
        </p>
    </div>

    <div class="field">
        <label class="label">密码</label>
        <p class="control has-icons-left has-icons-right">
            <input class="input is-success" type="password" placeholder="密码" value="bulma">
            <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
            <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
            </span>
        </p>
    </div>

    <div class="field is-grouped">
        <p class="control">
            <button class="button is-primary">登陆</button>
        </p>
    </div>

</div>