.panel-footer {
  border-top: none;
}

.task:hover .panel-footer {
  border-top: 1px solid #dddddd;
}

.navbar-form span {
  vertical-align: middle;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

.bs-callout-info h4 {
  color: #34789a;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}


body > .container {
  min-height: 700px;
}

.tomato-footer {
  height: 45px;
}

.tomato-footer div {
  text-align: center;
}