<div class="history-container">

  <!--  表格 展示方式 -->
  <table class="tomato-history-table table ">
    <thead>
      <tr>
        <th><abbr title="title">标题</abbr></th>
        <th><abbr title="succeed">完成情况</abbr></th>
        <th><abbr title="target">目标</abbr></th>
        <th><abbr title="description">描述</abbr></th>
        <th><abbr title="description">中断缘由</abbr></th>
        <th><abbr title="startTime">开始时间</abbr></th>
        <th><abbr title="endTime">结束时间</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tomato of pagedItems">
        <th title="{{tomato.title}}"> {{tomato.title | StringTruncate: 15}}</th>
        <td> <span class="tag" [ngClass]="{'is-success':tomato.succeed == 1}">完成</span></td>
        <td title="{{tomato.target}}">{{tomato.target | StringTruncate: 10}}</td>
        <td title="{{tomato.description}}">{{tomato.description | StringTruncate: 10}}</td>
        <td title="{{tomato.breakReason}}">{{tomato.breakReason | StringTruncate: 10}}</td>
        <td title="{{tomato.startTime}}">{{tomato.startTime | date: 'yyyy-MM-dd hh:mm:ss' | DateTransform: 10}}</td>
        <td title="{{tomato.endTime}}">{{tomato.endTime | date: 'yyyy-MM-dd hh:mm:ss' | DateTransform: 10}}</td>
      </tr>
    </tbody>
  </table>

  <!-- pager -->
  <nav *ngIf="pager.pages && pager.pages.length" class="pagination">
      <a [ngClass]="{disabled:pager.currentPage === 1}" class="pagination-previous" (click)="setPage(pager.currentPage - 1)">前一页</a>
      <a  [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pagination-previous" (click)="setPage(pager.currentPage + 1)">下一页</a>
      <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pagination-previous" (click)="setPage(pager.totalPages)">最后一页</a>
      <a [ngClass]="{disabled:pager.currentPage === 1}" class="pagination-previous" (click)="setPage(1)">第一页</a>
    
      <ul class="pagination-list">
        <li *ngFor="let page of pager.pages" >
          <a [ngClass]="{isCurrent:pager.currentPage === page}" class="pagination-link" (click)="setPage(page)">{{page}}</a>
        </li>
      </ul>
  </nav>

</div>

<!--  Card 展示方式 -->
<!--<div class="card" *ngFor="let tomato of tomatos">
  <header class="card-header">
    <p class="card-header-title">
      {{tomato.title}} <span class="tag" [ngClass]="{'is-success':tomato.succeed == 1}">完成</span>
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
        <a> {{tomato.target}}</a> <br>
        {{tomato.description}}<br>
      <small>{{tomato.startTime}} - {{tomato.endTime}}</small>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Save</a>
    <a class="card-footer-item">Edit</a>
    <a class="card-footer-item">Delete</a>
  </footer>
</div>-->