<div class="stage col-md-6 col-xs-12">

  <!-- 时间仪表盘 -->
  <div class="timer-container">
    <angular-round-progress [(timerStatus)]="timerStatus"></angular-round-progress>
  </div>
  <div class="active-task">
    <div class="bs-callout bs-callout-info" *ngIf="activeTomato">
      <h4 class="active-task-title">{{ activeTask.title }}</h4>
      <p class="active-task-desc">{{ activeTask.description }}</p>
    </div>
    <button class="btn btn-danger" *ngIf="activeTomato" (click)="breakActiveTask()">中断当前番茄钟</button>
  </div>
</div>


<!-- 今日任务列表 -->
<div class="col-md-3 col-xs-12">
  <div class="well well-sm">今日任务列表</div>
  <ul class="list-unstyled task-list today-task-list">
    <li class="task panel panel-success" *ngFor="let task of allTasks.unfinished | TaskPipe:true">
      <div class="task-heading panel-heading">
        <div class="task-title panel-title">
          {{ task.title }}
        </div>
        <div class="task-operation-container">
          <button type="button" class="btn btn-success btn-xs" (click)="startTask(task)"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-warning btn-xs" (click)="removeTaskFromActiveList(task)"><i class="fa fa-share"></i></button>
          <button type="button" class="btn btn-danger btn-xs" (click)="removeTask(task)"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="task-details panel-body">
        <div class="task-description">
          {{ task.description }}
        </div>
      </div>
      <div class="task-pomodoros panel-footer">
        <img src="/assets/image/tomato.png" *ngFor="let t of getTimes(task.num)">
      </div>
    </li>
  </ul>
  <div *ngIf="openNewTaskForm" class="new-task-form">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="newTask.title" placeholder="任务名称">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="3" [(ngModel)]="newTask.description" placeholder="描述/备注"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-success" (click)="addTask(true)">添加</button>
      <button class="btn btn-sm btn-danger" (click)="openNewTaskForm=false;newTask.title=''">取消</button>
    </div>
  </div>


  <!-- 添加新任务 -->
  <h4 *ngIf="!openNewTaskForm">
    <small class="open-new-task-form" (click)="openNewTaskForm=true">添加新任务...</small>
  </h4>
</div>

<!-- 候选任务列表 -->
<div class="col-md-3 col-xs-12">
  <div class="well well-sm">候选任务列表</div>
  <ul class="list-unstyled task-list">
    <li class="task panel panel-primary" *ngFor="let task of allTasks.unfinished | TaskPipe:false">
      <div class="task-heading panel-heading">
        <div class="task-title panel-title">
          {{ task.title }}
        </div>
        <div class="task-operation-container">
          <button type="button" class="btn btn-warning btn-xs" (click)="addTaskToActiveList(task)"><i class="fa fa-reply"></i></button>
          <button type="button" class="btn btn-danger btn-xs" (click)="removeTask(task)"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="task-details panel-body">
        <div class="task-description">
          {{ task.description }}
        </div>
      </div>
      <div class="task-pomodoros panel-footer">
        <img src="/assets/image/tomato.png" *ngFor="let t of getTimes(task.num)">
      </div>
    </li>
  </ul>

</div>


<!-- 任务完成后模态框 -->
<modal #myModal>
  <modal-header>
    <h4 class="modal-title">恭喜你，成功完成了一个番茄钟!</h4>
  </modal-header>
  <modal-body>
    休息一下吧 ^_^
    <h3 class="pull-right">已经完成该任务？</h3>
  </modal-body>
  <modal-footer>
    <button class="btn btn-success" (click)="close(true)">是的，我已完成</button>
    <button class="btn btn-warning" (click)="close(false)">没有，我还需要更多番茄钟</button>
  </modal-footer>
</modal>