.rest-title {
  color: #00d1b2;
}

.tomato-open-notification {
  position: fixed;
  top: 0px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  z-index: 2000;
}

.active-task-title {
  font-size: 38px;
  color: #23d160;
}
.stage {
  text-align: center;
}

.task-list > * {
  clear: both;
}

.task {
  position: relative;
  margin-bottom: 1px;
}

.task .task-operation-container {
  display: none;
  position: absolute;
  top: 10px;
  right: 5px;
}

.task:hover .task-operation-container {
  display: block;
}

.timer-container {
  display: inline-block;
  border-radius: 90px;
  margin-top: 30px;
}

.open-new-task-form:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task .task-details {
  clear: both;
  display: none;
}

.task:hover .task-details {
  display: block;
}

.today-task-list .task {
  margin-bottom: 5px;
}

.today-task-list .task .task-details {
  display: block;
}

.task .task-description {
  word-wrap: break-word;
}

.task .task-pomodoros {
  padding: 0px;
}

.task .task-pomodoros img {
  height: 20px;
}

.task-title {
  width: 100%;
}

.task-operation-container {
  margin-left: -100%;
}

#breakModal, #myModal {
  z-index: 1040;
}

.panel-heading {
  color: #00d1b2;
}

.break-tomato{
  margin-top:10px;
  margin-bottom:10px;
  padding: 10px 25px;
  font-size: 1.2rem;
}