<div class="stage col-md-12 col-xs-12">
  <!--时间轴占位-->
  <tomatobang-timeline></tomatobang-timeline>
</div>

<div class="stage col-md-6 col-xs-12">
  <!-- 时间仪表盘 -->
  <div class="timer-container">
    <angular-round-progress [(timerStatus)]="timerStatus"></angular-round-progress>
  </div>
  <div class="active-task">
    <div class="bs-callout bs-callout-info" *ngIf="activeTomato">
      <h4 class="active-task-title">{{ activeTomato.title }}</h4>
      <p class="active-task-desc">{{ activeTomato.description }}</p>
    </div>
    <div class="bs-callout bs-callout-info" *ngIf="isResting">
      <h4 class="rest-title">休息中....</h4>
    </div>
    <button class="btn btn-danger" *ngIf="activeTomato" (click)="breakActiveTask()">中断当前番茄钟</button>
  </div>
</div>

<!-- 今日任务列表 -->
<div class="col-md-3 col-xs-12">
  <p class="panel-heading">
    今日任务列表
  </p>
  <ul class="list-unstyled task-list today-task-list">
    <li class="task panel panel-success" *ngFor="let task of allTasks.unfinished | TaskPipe:true">
      <div class="task-heading panel-heading">
        <div class="task-title panel-title">
          <h1 class="title">{{ task.title }}</h1>
          <h2 class="subtitle">{{ task.target }}</h2>
        </div>
        <div class="task-operation-container">
          <button type="button" class="btn btn-success btn-xs" (click)="startTask(task)"><i class="fa fa-play"></i></button>
          <button type="button" class="btn btn-warning btn-xs" (click)="removeTaskFromActiveList(task)"><i class="fa fa-share"></i></button>
          <button type="button" class="btn btn-danger btn-xs" (click)="removeTask(task)"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="task-details panel-body">
        <div class="task-description">
          {{ task.description }}
        </div>
      </div>
      <div class="task-pomodoros panel-footer">
        <img src="/assets/image/tomato.png" *ngFor="let t of getTimes(task.num)">
      </div>
    </li>
  </ul>
  <div *ngIf="openNewTaskForm" class="box">
    <div class="field">
      <p class="control">
        <input class="input" type="text" [(ngModel)]="newTask.title" placeholder="任务名称">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input class="input" type="text" [(ngModel)]="newTask.target" placeholder="目标">
      </p>
    </div>
    <div class="field has-addons ">
      <p class="control">
        <input class="input" type="text" [(ngModel)]="newTask.num" value="1" placeholder="" >
      </p>
      <p class="control">
        <a class="button is-primary">番茄钟个数</a>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <textarea class="textarea" [(ngModel)]="newTask.description" placeholder="描述/备注"></textarea>
      </p>
    </div>
    <div class="form-group">
      <a class="button is-primary" href="javascript:void(0)" (click)="addTask(true)">添加</a>
      <a class="button is-link" href="javascript:void(0)" (click)="openNewTaskForm=false;newTask.title=''">取消</a>
    </div>
  </div>


  <!-- 添加新任务 -->
  <h4 *ngIf="!openNewTaskForm">
    <small class="open-new-task-form" (click)="openNewTaskForm=true">添加新任务...</small>
  </h4>
</div>

<!-- 候选任务列表 -->
<div class="col-md-3 col-xs-12">
  <p class="panel-heading">
    候选任务列表
  </p>
  <ul class="list-unstyled task-list">
    <li class="task panel panel-primary" *ngFor="let task of allTasks.unfinished | TaskPipe:false">
      <div class="task-heading panel-heading">
        <div class="task-title panel-title">
          <h1 class="title">{{ task.title }}</h1>
          <h2 class="subtitle">{{ task.target }}</h2>
        </div>
        <div class="task-operation-container">
          <button type="button" class="btn btn-warning btn-xs" (click)="addTaskToActiveList(task)"><i class="fa fa-reply"></i></button>
          <button type="button" class="btn btn-danger btn-xs" (click)="removeTask(task)"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="task-details panel-body">
        <div class="task-description">
          {{ task.description }}
        </div>
      </div>
      <div class="task-pomodoros panel-footer">
        <img src="/assets/image/tomato.png" *ngFor="let t of getTimes(task.num)">
      </div>
    </li>
  </ul>
</div>


<!-- 任务完成后模态框 -->
<modal #myModal id="myModal">
  <modal-header>
    <h4 class="modal-title">恭喜你，成功完成了一个番茄钟!</h4>
  </modal-header>
  <modal-body>
    休息一下吧 ^_^
    <h3 class="pull-right">已经完成该任务？</h3>
  </modal-body>
  <modal-footer>
    <button class="btn btn-success" (click)="close(true)">是的，我已完成</button>
    <button class="btn btn-warning" (click)="close(false)">没有，我还需要更多番茄钟</button>
  </modal-footer>
</modal>


<!-- 任务完成后模态框 -->
<modal #breakModal id="breakModal">
  <modal-body>
      <textarea class="textarea" [(ngModel)]="breakReason" placeholder="请填写中断原因..."></textarea>
  </modal-body>
  <modal-footer>
    <button class="btn btn-success" (click)="closeBreakModal()">提交</button>
  </modal-footer>
</modal>


<!-- 番茄钟开启通知 -->
<div class="notification is-success tomato-open-notification" *ngIf="showTomatoNoti">
  <button class="delete" (click)="closeTomatoNoti(false)"></button>
  {{NotiMessage}}
</div>
